{% extends 'base.html'%} {% block content%}
<div class="container">
    <div class="border p-4 bg-light shadow-lg mb-5 bg-white rounded">
        <div class="row">
            <div class="col-md-7">
                <div class="px-5">
                    <h3 class="display-4 fw-bold lh-1 mb-3 text-secondary">
                        {{ ticket.ticket_title}}
                    </h3>
                    {% if ticket.status %} {% if ticket.status == 'Pending' %}
                    <button
                        type="button"
                        class="btn btn-sm btn-warning rounded-4"
                    >
                        <span class="badge badge-light">Pending</span>
                    </button>
                    {% elif ticket.status == 'Active' %}
                    <button
                        type="button"
                        class="btn btn-sm btn-success rounded-4"
                    >
                        <span class="badge badge-light">Active</span>
                    </button>
                    {% elif ticket.status == 'Resolved' %}
                    <button
                        type="button"
                        class="btn btn-sm btn-primary rounded-4"
                    >
                        <span class="badge badge-light">Resolved</span>
                    </button>

                    {% endif %} {% endif %}
                    <br />
                    <br />
                    <br />
                    <p>{{ticket.ticket_description}}</p>
                </div>
            </div>
            <div
                class="col-md-4 border mx-3 shadow-lg p-4 mb-5 bg-white rounded"
            >
                <h4 class="display-6 lh-1 mb-3 text-secondary">Quick info</h4>
                <p>
                    <small>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nulla recusandae atque, minima consequuntur, facere
                        officia itaque natus illum.re
                    </small>
                </p>
                <div>
                    <small>
                        <b>Ticket Unique ID</b>: {{ticket.ticket_id}}
                    </small>
                    <br />
                    <small> <b>Engineer</b>: {{ticket.engineer}} </small>
                    <br />

                    <small> <b>Customer</b>: {{ticket.customer}} </small>
                    <br />

                    <small> <b>Created on</b>: {{ticket.created_on}} </small>
                    <br />

                    <small> <b>Severity</b>: {{ticket.severity}} </small>
                    <br />
                </div>
            </div>
        </div>
    </div>

    {% if ticket.resolution%}
    <div class="card">
        <div class="card-body shadow-sm">
            <small> <b>Résolution</b>: </small>
            <br />
            <small>{{ticket.resolution}}</small>
            <p />
        </div>
    </div>
    {% elif request.user.is_engineer %}
    <div class="px-5 mt-5">
        <a href="{% url 'resolve-ticket' ticket.ticket_id%}">
            <button class="btn btn-outline-info">Mark as resolved</button>
        </a>
    </div>
</div>
{% endif %} {%endblock content%}
